/* src/components/Banner.css */

.banner {
  width: 100%;
  height: 380px;
  background-image: url("https://www.police.go.kr/resources/images/mainVisual02.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.banner-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 20, 50, 0.45);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.banner-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 12px;
}

.banner-sub {
  font-size: 20px;
  opacity: 0.9;
}